$fontFamily: 'Roboto';
$white: #f9f9f9;
$black: #000000;
$red: #e62429;
$characterColor: #0d0d0d;
$biographyColor: #737373;
$boxInputBackground: #edeef2;
$grey: #e5e5e5;
$lightGrey: #d3d5d9;
$notFoundColor: #565656;
$searchBorderRadius: 6px;
$inputBorder: 1px solid #bfc2cc;
$mobileComicsTitle: 12px;
$buttonSize: 15px;
$characterSize: 16px;
$middleSize: 18px;
$mobileMiddleSize: 20px;
$mobileFontSizeTitle: 30px;
$bigSize: 40px;
$notFoundSize: 200px;
$characterNameFontSize: 80px;
$middleLineHeight: 20px;
$comicsLineHeight: 30px;
$bigLineHeight: 44px;
$biggerLineHeight: 100px;
$lightFontWeight: 300;
$boldFontWeight: 700;
$bolderFontWeight: 900;
$topShadow:  0px -5px 5px -5px $grey;
$bottomShadow: 0px 5px 5px -5px rgba(105, 105, 105, 0.6);
$boxInputShadow: 0px 5px 20px -5px rgba(105, 105, 105, 0.6);
$gridItemShadow: 0px 5px 10px 2px $grey;
$textShadow: 0px 2px 3px rgba(255,255,255,0.5);